* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container-fluid {
  padding-right: 5px;
  padding-left: 5px;
}

#nav {
  display: flex;
  flex-direction: row;
  background-color: #007bff !important;
}

#chatdiv {
  display: flex;
  justify-content: flex-end;
}

#massageboxf {
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  height: 80vh;
}

.username {
  margin-bottom: 0px;
  font-size: 12px;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  margin-left: 5px;
}

#mass-left {
  display: flex;
  padding: 2px;
  justify-content: start-end;
  flex-wrap: wrap;
  margin-bottom: 2px;
}

#mass-right {
  display: flex;
  justify-content: flex-end;
  padding: 2px;
  flex-wrap: wrap;
  margin-bottom: 2px;
}

#mass-right spam {
  background-color: #2db34ce0;
  padding: 5px;
  border-radius: 10px;
  color: cornsilk;
}

#mass-left spam {
  background-color: #007bff !important;
  padding: 5px;
  border-radius: 10px;
  color: cornsilk;
}

@media (max-height: 400px) {
  #massageboxf {
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    height: 70vh;
  }
}

.file {
  position: relative;
  overflow: hidden;
  margin: 0 10px 0 10px;
}

.file input {
  position: absolute;
  font-size: 50px;
  opacity: 0;
  right: 0;
  top: 0;
}

#imageDivRight {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin: 20px;
}

#imageDivLeft {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 20px;
}

.image-link {
  display: block;
  width: 50%;
  aspect-ratio: 3/2;
  overflow: hidden;
}

#image {
  width: 100%;
  object-fit: cover;
}

#video {
  width: 100%;
  max-width: 300px;
}